* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    text-align: start;
    margin-left: 25px;
    margin-top: 35px;
    background-color: #FA990A;
}

.container::after {
    content: "";
    min-width: 100vw;
    height: 28vh;
    position: absolute;
    background-color: #d18108;
    top: 0;
    left: 0;
    z-index: -1;
    border-bottom: 2px solid #945b06;
}

p {
    margin: 20px 0;
}

input {
    font-size: 18px;
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    width: 195px;
    transition: all 0.35s;
    outline: none;
}

input::placeholder {
    color: #9B9B9B;
}

button {
    font-size: 18px;
    padding: 5px 16px;
    margin-left: 10px;
    border-radius: 20px;
    /* border: none; */
    border: 2px solid rgb(1, 56, 128);
    background-color: #0092DD;
    color: #fff;
    transition: all 0.25s;
    cursor: pointer;
}

input:focus {
    width: 243px;
    border: 2px solid #0092DD;
}

button:hover {
    transform: scale(1.1);
}