* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    min-width: 100vw;
    background-color: #FA990A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.arrow {
    position: absolute;
    top: 25px;
    left: 25px;
}

.arrow:hover {
    animation: kick 1s ease-in-out infinite;
}

.titulo {
    font-size: 50px;
    color: #FEFCFB;
    text-align: center;
    margin-bottom: 50px;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_login,
.input_senha {
    margin: 10px;
    width: 357px;
    height: 55px;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    padding-left: 20px;
}

.input_login::placeholder, .input_senha::placeholder {
    color: #9B9B9B;
}

.conteiner_input div {
    display: flex;
    justify-content: space-around;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: white;
}

.conteiner_input div input {
    margin-right: 5px;
}

.conteiner_input div label {
    display: flex;
    align-items: center;
}

.conteiner_input div a {
    text-decoration: underline;
    color: white;
}

.img_rede {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px 15px;
    margin-top: 30px;
}

.img_rede img {
    background-color: #FA990A;
}

.button_login:disabled {
    background-color: #dadada;
    color: #000000;
    margin: 15px;
    height: 55px;
    width: 334px;
    border-radius: 200px;
    font-size: 24px;
    border: none;
    cursor: not-allowed;
    transition: all 0.25s;
}

.button_login:enabled {
    background-color: #0092DD;
    color: #FEFCFB;
    margin: 15px;
    height: 55px;
    width: 334px;
    border-radius: 200px;
    font-size: 24px;
    border: none;
    transition: all 0.25s;
    cursor: pointer;
}

.button_login:enabled:hover {
    transform: scale(1.1);
}

.button_login:enabled:active {
    transform: scale(1);
    opacity: 0.8;
}

#labelRemember {
    position: relative;
    cursor: pointer;
}

#remember {
    display: none;
}

.checkmark {
    position: absolute;
    background-color: #eee;
    top: -4px;
    left: -25px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    transition: all 0.35s;
    
}

.checkmark:hover, #labelRemember:hover .checkmark {
    opacity: 0.8;
}

#remember:checked ~ .checkmark {
    background-color: #0092DD;
}

.checkmark::after {
    content: "";
    display: none;
    position: absolute;
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: 2px solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#remember:checked ~ .checkmark::after {
    display: block;
}

#remember:checked ~ .checkmark:hover{
    opacity: 0.8;
}

.icon {
    transition: all 0.25s;
}

.icon:hover {
    transform: translateY(-5px);
}

@keyframes kick {
    from {
        transform: translateX(0);
    } 

    50% {
        transform: translateX(-5px);
    }
    
    to {
        transform: translateX(0);
    }
}